pre{
    border: 2.5px grey solid;
    overflow: auto;
    display: flex;
    margin: auto;
    text-align: center;
    height: 200px;  
    width: 40%;  
    /* flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; */
}
.button {
    text-align: center;
    width: 100%;
    height: 100%;

}